<div class="mx-80 min-h-screen">

  <div class="relative overflow-x-auto shadow-md sm:rounded-lg mt-20">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
        <tr>
          <th scope="col" class="px-6 py-3">
            ID
          </th>
          <th scope="col" class="px-6 py-3">
            Nome
          </th>
          <th scope="col" class="px-6 py-3">
            Cor
          </th>
          <th scope="col" class="px-6 py-3">
            Cidade
          </th>
          <th scope="col" class="px-6 py-3">
            Idade
          </th>
          <th scope="col" class="px-6 py-3">
            Status
          </th>
          <th scope="col" class="px-6 py-3">
            <span class="sr-only">Editar</span>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of datatable"
          class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
          <td class="px-6 py-4">
            {{data.id}}
          </td>
          <td class="px-6 py-4">
            {{data.name}}
          </td>
          <td class="px-6 py-4">
            {{data.color}}
          </td>
          <td class="px-6 py-4">
            {{data.city}}
          </td>
          <td class="px-6 py-4">
            {{data.age}}
          </td>
          <td class="px-6 py-4">
            <div class="bg-green-600 text-white font-bold text-center rounded"
              [ngClass]="{'bg-green-600': data.status === 1, 'bg-red-600': data.status === 0}">
              {{data.status === 1 ? 'Ativo' : 'Desabilitado'}}
            </div>
          </td>
          <td class="px-6 py-4 text-right">
            <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Editar</a>
            <span href="#" class="ml-4 font-medium text-red-600 dark:text-red-500 hover:underline">Excluir</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>


</div>